* {
  background-color: #e5c687;
}

header {
  background-color: #676554;
}

nav {
  background: #d2cca1;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  font-size: 1.1rem;
  position: relative;
}

nav ul {
  list-style-type: none;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  height: var(--navHeight);
  padding: 0 10px;
}

nav ul li {
  padding: 12px 10px;
  cursor: pointer;
  transition: background 0.3s ease;
  border-radius: 4px;
  position: relative;
}

nav ul li:hover {
  background-color: #dedaba;
}

li a {
  text-decoration: none;
  color: black;

}

li a:hover {
  color: rgb(255, 42, 0);
  background-color: #dedaba;
}

footer {
  background-color: #dedaba;
}

.b {
  border-color: #f40808;
  border-style: double;
  border-radius: 50px;
  vertical-align: 50%;
  background-color: none;
}

@media screen and (max-width: 650px) {
  * {
    width: 100%;
    display: block;
  }
}
